<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>registr/login pages</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Начальная</a></li>

        </ul>
    </nav>

    <div class="container">
        <p>List users:</p>
        {{#if users}}
        <ul class="users">
            {{#each users}}
            <dl class="users_row">
                <span class="users_name"> Name: {{this.name}}</span>
                <span class="users_login"> Login: {{this.login}}</span>
            </dl>

            {{/each}}
        </ul>
        {{/if}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>

</html>